/* Global Styles */

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #5aace6;
    /* Primary Color */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4a9ccc;
}

/* Selection Color */
::selection {
    background-color: #5aace6;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    /* Prevent horizontal scroll */
}